<% layout("./layouts/boilerplate") %>
    <h1>Login</h1>

    <form action="/login" class="validated-form" method="POST" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="username" aria-label="username"
                aria-describedby="username-label" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="username" placeholder="password" aria-label="password"
                aria-describedby="password-label" name="password" required>
        </div>
        <button class="btn btn-success">Login</button>
    </form>